<html>
  <head>
    <title>チャット</title>
    <style>
      /* input { display: block; } */
      /* ul { list-style: none; } */
   </style>
 </head>
 <body>

   とてもシンプルな匿名チャット
   <form id="chatbox">
     <div class="cp_iptxt">
       メッセージ：<input type="textarea" name="msgArea" placeholder="メッセージ"><br>
       名前：<input type="text" name="nameArea" placeholder="お名前">
       <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
     </div>
     <input type="submit" value="送信" />
   </form>

   <form id="matching">
     <input type="button" value="対戦相手を見つける！！"/>
    </form>
   <ul id="messages"></ul>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>

<script>
  var in_room=false;
  $(function(){
    $("#matching").on('click',function(){
      console.log("mathingが押された");
      var room_url="null";

        setTimeout(function(){
          window.location.href = '/game';
        }, 1000);


    });//end on click matching

  });
</script>
 </body>
</html>
